<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Products Tables</h4>
				<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
				<div class="heading-elements">
					<ul class="list-inline mb-0">
						<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
						<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
						<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
						<li><a data-action="close"><i class="ft-x"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="card-content collapse show">
				<div class="card-body">
					<p class="card-text">Using the most basic table markup, here’s how <code>.table</code>-based tables look in Bootstrap. You can use any example of below table for your table and it can be use with any type of bootstrap tables. </p>
					<div class="table-responsive" ng-controller="ProductController">
						<button data-toggle="modal" data-target="#addProductModal" class="btn btn-success mb-3"  ng-click="showAddForm = true"><i class="fas fa-plus"></i> Thêm mới sản phẩm</button> <!-- Thêm nút "Thêm mới sản phẩm" -->

						<div id="addProductModal" class="modal fade" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content" style="min-width: 700px;">
									<div class="modal-header">
										<h5 class="modal-title">Thêm mới sản phẩm</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="handleCloseForm()">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form>
											<div class="form-group">
												<label for="productName">Tên sản phẩm</label>
												<input type="text" class="form-control" id="productName" ng-model="newProduct.name"  placeholder="Tên sản phẩm">
											</div>
											<div class="form-group">
												<label for="productPrice">Giá sản phẩm</label>
												<input type="number" class="form-control" id="productPrice" ng-model="newProduct.price" placeholder="Giá sản phẩm">
											</div>
											<div class="form-group">
												<label for="productDescription">Mô tả</label>
												<textarea class="form-control" id="productDescription" ng-model="newProduct.description" placeholder="Mô tả"></textarea>
											</div>

											<!--, onchange="angular.element(this).scope().previewImage(this)" 
												sẽ kích hoạt hàm previewImage() trong AngularJS controller 
												và truyền đối tượng DOM tương ứng với phần tử input làm đối số cho hàm đó. 
												Điều này cho phép bạn thực hiện các xử lý liên quan đến hình ảnh trong controller. 
											-->
											<div class="form-group">
												<label for="productImage">Hình ảnh</label>
												<input type="file" class="form-control" id="productImage" 
												 ng-model="newProduct.image" onchange="angular.element(this).scope().previewImage(this)">
											</div>
											<div class="form-group">
												<img id="previewImage" ng-src="{{newProduct.image ? newProduct.image : 'placeholder-image-url'}}" alt="Hình ảnh xem trước" style="max-width: 200px; max-height: 200px;">
											</div>
											<div class="form-group" ng-controller="getAllCategory">
												<label for="productCategoryId">Danh mục</label>
												<select class="form-control" id="productCategoryId" ng-model="newProduct.categoryId" 
												 ng-options="category.id as category.name for category in categories">
													<option value="">Chọn danh mục</option>
												</select>
											</div>
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary" ng-click="addProduct(newProduct)">{{isEditMode? 'Cập nhật': 'Thêm'}}</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="handleCloseForm()">Hủy</button>
									</div>
								</div>
							</div>
						</div>

						<table class="table">
							<thead>
								<tr>
									<th>STT</th>
									<th>Action</th>
									<th>Name</th>
									<th>image</th>
									<th>price</th>
									<th>create_at</th>
									<th>update_at</th>
									<th>category</th>
								</tr>
							</thead>
							<tbody ng-repeat="product in products">
								<tr>
									<th scope="row">{{$index + 1}}</th>
									<td>
										<button class="btn btn-primary btn-sm" ng-click="editProduct(product)"><i class="fas fa-edit"></i> Edit</button>
										<button class="btn btn-danger btn-sm" ng-click="deleteProduct(product.id)"><i class="fas fa-trash"></i> Delete</button>
									</td> 
									<td>{{product.name}}</td>
									<td>{{product.image}}</td>
									<td>{{product.price}}</td>
									<td>{{product.created_at }}</td>
									<td>{{product.updated_at }}</td>
									<td>{{product.category.name}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
